// 首页
.searchBox{
	width: 100%;
	height: 78rpx;
	padding-top: 70rpx;
	background: #005CB7;
	.searchBox_inner{
		width: 640rpx;
		margin: 0 auto;
		height: 60rpx;
		background: #ffffff;
		border-radius: 3px;
		position: relative;
	}
	.search_img{
		width: 32rpx;
		height: 32rpx;
		display: block;
		position: absolute;
		top: 13rpx;
		left: 15rpx;
	}
	.search_input{
		width: 570rpx;
		margin-left: 60rpx;
		line-height: 60rpx;
		height: 60rpx;
	}
}
.tab_content{
	width: 100%;
	.navbar{
		width: 100%;
		height: 88rpx;
		border-bottom: 1px solid #f2f2f2;
		position: relative;
		.nav-item{
			color: #888888;
			font-size: 26rpx;
			display: inline-block;
			line-height: 88rpx;
			margin-left: 50rpx;
		}
		.current{
			color: #005cb7;
			font-size: 32rpx;
			position: relative;
		}
		.current::after{
			content: '';
			width: 24rpx;
			height: 6rpx;
			background: #005cb7;
			border-radius: 2rpx;
			position: absolute;
			bottom: 0;
			left: 30%;
		}
		.screening{
			width: 40rpx;
			height: 40rpx;
			position: absolute;
			right: 25rpx;
			top: 25rpx;
		}
	}
	
	.article_title{
		font-size: 28rpx;
		line-height: 40rpx;
		color: #333333;
	}
	.tab_list_1{
		width: 686rpx;
		border-bottom: 1px solid #efefef;
		padding: 0 32rpx;
		.tab_list_1_inner{
			width: 100%;
			margin: 0 auto;
			padding: 30rpx 0;
			position: relative;
		}
	}
	
	.tab_list_2{
		width: 100%;
		height: 225rpx;
		border-bottom: 1px solid #eeeeee;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.tab_list_2_img{
			width: 220rpx;
			height: 165rpx;
			margin-left: 50rpx;
		}
		.tab_list_2_right{
			width: 420rpx;
			height: 165rpx;
			margin-right: 50rpx;
			.tab_list2_label{
				display: inline-block;
				background: #eef6ff;
				border-radius: 5px;
				padding: 0 15rpx;
				margin-right: 20rpx;
				font-size: 18rpx;
				color: #005cb7;
			}
			.tab_list_botton{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 50rpx;
				.watch_people{
					font-size: 20rpx;
					color: #999999;
				}
				.botton_right{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: -10rpx;
					
					.money_style{
						font-size: 30rpx;
						color: #e81616;
						margin-top: 10rpx;
					}
				}
			}
		}
	}
}
.tab_list{
		width: 100%;
		height: 130rpx;
		.tab_list_img{
			display: block;
			width: 90rpx;
			height: 90rpx;
			border-radius: 50%;
			margin-left: 50rpx;
		}
		.tab_list_msg{
			width: 50%;
			height: 100%;
			.tab_list_name{
				color: #333333;
				font-size: 28rpx;
				line-height: 50rpx;
				display: block;
				margin-top: 20rpx;
			}
			.tab_list_label{
				display: inline-block;
				background: #eef6ff;
				border-radius: 5px;
				padding: 0 15rpx;
				margin-right: 20rpx;
				font-size: 18rpx;
				color: #005cb7;
			}
		}
		.focus_btn{
			width: 102rpx;
			height: 44rpx;
			line-height: 44rpx;
			text-align: center;
			font-size: 24rpx;
			color: #005cb7;
			border: 1px solid #005cb7;
			border-radius: 2px;
			margin-right: 50rpx;
		}
	}

.img_list{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10rpx;
	.img_list_style{
		width: 32%;
		height: 150rpx;
		margin-right: 1%;
		margin-bottom: 10rpx;
	}
}
.author_info{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10rpx 0;
	.author_img{
		width: 44rpx;
		height: 44rpx;
		border-radius: 50%;
	}
	.author_name{
		font-size: 20rpx;
		color: #999999;
	}
}
.tab_list_3{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #eeeeee;
	width: 100%;
	height: 100%;
}
.article_money{
	position: absolute;
	bottom: 15rpx;
	right: 0;
	.money_img{
		width: 58rpx;
		height: 46rpx;
		display: inline-block;
		margin-right: 10rpx;
	}
	.money_img1{
		margin-left: 40rpx;
	}
	.money_num{
		display: inline-block;
		font-size: 38rpx;
		color: #f64927;
		position: relative;
		top: -10rpx;
	}
	.money_num1{
		color: #F1B03F;
	}
}
.time_style{
	display: inline-block;
	color: #999999;
	font-size: 20rpx;
	margin-top: 20rpx;
}
.read_num{
	margin-left: 30rpx;
}
.content{
	width: 100%;
	.banner{
		width: 100%;
		height: 420rpx;
		.swiper{
			width: 100%;
			height: 100%;
			.banner_img{
				width: 100%;
				height: 100%;
			}
		}
	}
}
// 我的页面
.my_top{
	width: 100%;
	height: 200rpx;
	background: #005cb7;
	position: relative;
	.my_head_img{
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		position: absolute;
		bottom: 32rpx;
		left: 32rpx;
	}
	.my_info{
		display: inline-block;
		height: 120rpx;
		position: absolute;
		bottom: 22rpx;
		left: 172rpx;
		.my_name{
			font-size: 32rpx;
			color: #ffffff;
			display: inline-block;
		}
		.my_id{
			color: #ffffff;
			font-size: 20rpx;
			margin-top: 10rpx;
		}
	}
}
.ask_question{
	width: 100%;
	height: 160rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	margin-bottom: 10rpx;
	box-shadow: rgba($color: #005cb7, $alpha: 0.25) 0 10px 10px -10px;
	.my_ask{
		width: 50%;
		height: 80rpx;
		border-right: 1px solid #bedbff;
		text-align: center;
		position: relative;
		.my_ask_arrow{
			width: 30rpx;
			height: 30rpx;
			position: absolute;
			bottom: 20rpx;
			right: 60rpx;
		}
		.ask_question_title{
			font-size: 26rpx;
			color: #666666;
		}
		.ask_question_num{
			color: #333333;
			font-size: 36rpx;
		}
	}
}
.my_list{
	width: 100%;
	padding-bottom: 100rpx;
	.my_list_inner{
		width: 100%;
		height: 80rpx;
		background: #ffffff;
		margin-bottom: 2rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.my_list_left{
			margin-left: 32rpx;
			display: flex;
			align-items: center;
			.my_list_img{
				width: 40rpx;
				height: 40rpx;
				display: inline-block;
			}
			.my_list_title{
				font-size: 26rpx;
				color: #333333;
				display: inline-block;
				margin-left: 20rpx;
			}
		}
		.my_list_right{
			margin-right: 32rpx;
			display: flex;
			align-items: center;
			.my_list_arrow{
				width: 30rpx;
				height: 30rpx;
				display: inline-block;
			}
			.my_list_new{
				font-size: 24rpx;
				color: #bfbfbf;
				display: inline-block;
				margin-right: 20rpx;
			}
			.my_list_money{
				color: #f05540;
			}
		}
	}
	.long_bottom{
		margin-bottom: 10rpx;
	}
}
.level_style{
	background: #f04848;
	border-radius: 30rpx;
	padding: 0 20rpx;
	color: #ffffff;
	text-spacing: 3rpx;
	margin-right: 10rpx;
	line-height: 40rpx;
}
.level_style1{
	display: inline-block;
	margin-left: 20rpx;
}
// 提问页面
.question_list{
	width: 100%;
	height: 88rpx;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
	.question_title{
		display: inline-block;
		margin-left: 32rpx;
		font-size: 26rpx;
		color: #333333;
		line-height: 88rpx;
	}
	.question_input{
		display: inline-block;
		height: 88rpx;
		display: inline-block;
		width: 70%;
		margin-left: 24rpx;
	}
}
.question_title{
	display: inline-block;
	margin-left: 32rpx;
	font-size: 26rpx;
	color: #333333;
	line-height: 88rpx;
}
.question_list1{
	width: 100%;
	height: 88rpx;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.question_list_left{
		.question_tags{
			font-size: 24rpx;
			color: #005cb7;
			background: #EEF6FF;
			line-height: 44rpx;
			padding: 0 16rpx;
			display: inline-block;
			border-radius: 5px;
			margin-left: 10rpx;
		}
		.set_money{
			font-size: 28rpx;
			color: #ee2d2d;
			display: inline-block;
			margin-left: 50rpx;
		}
			
	}
	.question_list_right{
		.question_arrow{
			width: 30rpx;
			height: 30rpx;
			display: inline-block;
			margin-right: 32rpx;
		}
		.rest_money{
			color: #bfbfbf;
			font-size: 24rpx;
			margin-right: 32rpx;
		}
		
	}
	.miney_list{
		width: 130rpx;
		height: 60rpx;
		border: 1px solid #CECECE;
		border-radius: 5rpx;
		color: #666666;
		font-size: 24rpx;
		line-height: 60rpx;
		text-align: center;
	}
	.miney_list:nth-child(1){
		margin-left: 32rpx;
	}
	.miney_list:nth-child(4){
		margin-right: 32rpx;
	}
	.money_selected{
		border: 1px solid #ee2d2d;
		color: #ee2d2d;
		margin-top: 30rpx;
		margin-bottom: 40rpx;
	}
}
.textarea_list{
	width: 100%;
	min-height: 200rpx;
	border-bottom: 1px solid #efefef;
}
.question_textarea{
	width: 72%;
	height: 250rpx;
	margin-right: 32rpx;
	padding: 20rpx 0;
	display: inline-block;
	margin-top: 20rpx;
	font-size: 24rpx;
	line-height: 30rpx;
}
.question_title1{
	position: relative;
	top: -245rpx;
}
.publish_btn{
	width: 100%;
	height: 88rpx;
	text-align: center;
	font-size: 32rpx;
	color: #ffffff;
	line-height: 88rpx;
	background: #005CB7;
	position: fixed;
	bottom: 0;
	left: 0;
	border-radius: 0;
}
.add_attachment{
	width: 100%;
	height: 240rpx;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
	.add_btn{
		width: 160rpx;
		height: 160rpx;
		margin-left: 32rpx;
		margin-right: 24rpx;
	}
	.add_tips{
		font-size: 24rpx;
		color: #888888;
	}
}